{:db        {:host "localhost" :db-name "seer-api" :collection "elaborations"}
 :seer      {:path "/home/altimario/seer/temp/"
             :core "/home/altimario/seer/seerCore"}
 :server    {:port 9090}}
